{
  "presets": [
    "react",
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "env": {
    "commonjs": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ]
      ]
    }
  }
}
